In [8]:
import pandas as pd

dataset = pd.read_csv("C:\\Users\\Alva Melita\\OneDrive\Desktop\\adult.csv")

In [9]:
dataset.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [10]:
dataset.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [11]:
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB
None

In [ ]:
'workclass,education,marital-status,occupation,relationship,race,gender,native-country,income'

In [12]:
print(dataset.describe())

                age        fnlwgt  educational-num  capital-gain  \
count  48842.000000  4.884200e+04     48842.000000  48842.000000
mean      38.643585  1.896641e+05        10.078089   1079.067626
std       13.710510  1.056040e+05         2.570973   7452.019058
min       17.000000  1.228500e+04         1.000000      0.000000
25%       28.000000  1.175505e+05         9.000000      0.000000
50%       37.000000  1.781445e+05        10.000000      0.000000
75%       48.000000  2.376420e+05        12.000000      0.000000
max       90.000000  1.490400e+06        16.000000  99999.000000

       capital-loss  hours-per-week
count  48842.000000    48842.000000
mean      87.502314       40.422382
std      403.004552       12.391444
min        0.000000        1.000000
25%        0.000000       40.000000
50%        0.000000       40.000000
75%        0.000000       45.000000
max     4356.000000       99.000000

In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [24]:
categorical_columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country']

# One-hot encode categorical columns
X_encoded = pd.get_dummies(X, columns=categorical_columns, drop_first=True)

# Split the encoded dataset
X_train_encoded, X_test_encoded, y_train, y_test = train_test_split(X_encoded, y, test_size=0.3, random_state=42)

# Initialize and train the Logistic Regression model
logistic_model = LogisticRegression(random_state=42)
logistic_model.fit(X_train_encoded, y_train)

# Make predictions and evaluate the model as before
logistic_predictions = logistic_model.predict(X_test_encoded)
logistic_accuracy = accuracy_score(y_test, logistic_predictions)
logistic_classification_report = classification_report(y_test, logistic_predictions)
logistic_confusion = confusion_matrix(y_test, logistic_predictions)

print("Logistic Regression Accuracy:", logistic_accuracy)
print("Logistic Regression Classification Report:\n", logistic_classification_report)
print("Logistic Regression Confusion Matrix:\n", logistic_confusion)

Logistic Regression Accuracy: 0.8044086535180509
Logistic Regression Classification Report:
               precision    recall  f1-score   support

           0       0.81      0.97      0.88     11233
           1       0.72      0.27      0.39      3420

    accuracy                           0.80     14653
   macro avg       0.76      0.62      0.64     14653
weighted avg       0.79      0.80      0.77     14653

Logistic Regression Confusion Matrix:
 [[10872   361]
 [ 2505   915]]

In [25]:
from sklearn.ensemble import RandomForestClassifier

# Initialize and train the Random Forest model
random_forest_model = RandomForestClassifier(random_state=42)
random_forest_model.fit(X_train_encoded, y_train)

# Make predictions and evaluate the Random Forest model
rf_predictions = random_forest_model.predict(X_test_encoded)
rf_accuracy = accuracy_score(y_test, rf_predictions)
rf_classification_report = classification_report(y_test, rf_predictions)
rf_confusion = confusion_matrix(y_test, rf_predictions)

print("Random Forest Accuracy:", rf_accuracy)
print("Random Forest Classification Report:\n", rf_classification_report)
print("Random Forest Confusion Matrix:\n", rf_confusion)

Random Forest Accuracy: 0.8618030437453081
Random Forest Classification Report:
               precision    recall  f1-score   support

           0       0.89      0.93      0.91     11233
           1       0.74      0.64      0.68      3420

    accuracy                           0.86     14653
   macro avg       0.81      0.78      0.80     14653
weighted avg       0.86      0.86      0.86     14653

Random Forest Confusion Matrix:
 [[10448   785]
 [ 1240  2180]]

In [26]:
from sklearn.tree import DecisionTreeClassifier

# Initialize and train the Decision Tree model
decision_tree_model = DecisionTreeClassifier(random_state=42)
decision_tree_model.fit(X_train_encoded, y_train)

# Make predictions and evaluate the Decision Tree model
dt_predictions = decision_tree_model.predict(X_test_encoded)
dt_accuracy = accuracy_score(y_test, dt_predictions)
dt_classification_report = classification_report(y_test, dt_predictions)
dt_confusion = confusion_matrix(y_test, dt_predictions)

print("Decision Tree Accuracy:", dt_accuracy)
print("Decision Tree Classification Report:\n", dt_classification_report)
print("Decision Tree Confusion Matrix:\n", dt_confusion)

Decision Tree Accuracy: 0.8236538592779635
Decision Tree Classification Report:
               precision    recall  f1-score   support

           0       0.89      0.88      0.88     11233
           1       0.62      0.65      0.63      3420

    accuracy                           0.82     14653
   macro avg       0.75      0.76      0.76     14653
weighted avg       0.83      0.82      0.83     14653

Decision Tree Confusion Matrix:
 [[9861 1372]
 [1212 2208]]